:root{
    --dark: #000a36;
}
body{
    margin: 0;
    padding: 0;
    background: var(--dark);
    display:flex;
    height:100vh;
}

#app{
    position: relative;
    min-width:500px;
    margin: auto;
    background: #ffffff;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 2px 4px 94px #13215b, 0px -7px 120px #6e0ef996;
}
h1{
    color: white;
    background: #059afd;
    padding: 20px 30px 20px 30px;
    border-radius: 50px 0 0 50px;
}

h2{
    text-align: center;
    flex: 1;
    font-size: 56px;
    color: #13215b;
}
span{
    padding: 0 20px 0 0;
    font-size: 20px;
    background: white;
}
input{
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    outline: none;
    border: 1px solid #ffffff;
    background: #f1f1f1;
    border-radius: 0 50px 50px 0;
    box-shadow: 4px 4px 18px #0b17483b;
    width: 10%;
}

.flex{
    
    top:-25%;
    position:absolute;
    right:0;
    display:flex;
    justify-content: center;
    align-items: center;
}
button{
    overflow: hidden;
    position:relative;
    margin:0;
    padding: 20px 40px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background: white;
    outline:none;
    transition:.2s;
   
}
button::after{
    content: '';
    position: absolute;
    right: 0;
    top: -37%;
    transform: translate(0, 100%);
    width: 2px;
    height: 60%;
    background: #efeff4;
}
button:last-child::after {
    display:none;
}
button::before {
    content: '';
    position: absolute;
    left:  0;
    bottom: 0px;
    transform: translateX(-150%) skewX(45deg);
    width: 90%;
    height: 100%;
    background: #bdf0ff65;
    filter:blur(9px);
    
    z-index: 1;
}
button:hover::before{
    animation: x .9s linear;
}
@keyframes x{
    100%{
        transform: translateX(150%) skewX(45deg) ;
    }
}
@keyframes big{
    0%{
        transform: scale(1) ;
    }
    50%{
        transform: scale(1.2) ;
    }
    100%{
        transform: scale(1) ;
    }
}

button:hover::after{
    display:none;
}
button:hover{
    background:#059afd;
    color:#fff;
}

.onright{
    box-shadow: 7px -3px 30px #17135f30;
    display: flex;
    position: absolute;
    right: 0;
    bottom:-14%;
}
.out{
    color:#fff;
    display: inline-block;
    line-height: 1em;
    background: #001369;
    border-radius: 50px;
    padding: 20px;
}

.bounce-enter-active {
    animation: bounce-in .5s;
  }
  .bounce-leave-active {
    animation: bounce-in .5s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }