<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>



    <div id="app">

        <div class="flex">
            <h1>bang cu chuong: </h1>
            <input type="text" v-model='quantity' v-on:keyUp="resetCount()"></input>
        </div>


        <h2> {{ quantity }} x {{ up }} = 
            <transition name="bounce">
                <div v-if="show" class='out'>{{ count }}</div>
            </transition>
            </h2>

        <div class="onright">
            <button v-on:click="countUp($event, quantity)" @click="show = !show">Next</button>
            <button v-on:click="countDown($event, quantity)">Back</button>
            <button v-on:click="resetCount()">Clear</button>
        </div>


        <!-- <div style="background:red; padding: 20px" 
            v-on:mouseover="mouse">
            <h4>x cordinates {{clientX}}</h4>
        <h4>y cordinates {{clientY}}</h4>
        </div>

        <form  action="" v-on:submit.prevent="submit">
            <input v-on:keyup.enter="submit" type="text" name="name">name</input>
            <input v-on:keyup.enter="submit" type="password" name="password">pass</input>
            <input type="submit" value="submit"></input>
        </form>


        <h1>A: {{addA}}</h1>
        <h1>B: {{addB}}</h1>
        <button v-on:click="a++">for A</button>
        <button v-on:click="b++">for B</button> -->
    </div>



</body>


<script>
    var appVue = new Vue({
        el: '#app',
        data: {
            count: 0,
            clientX: 0,
            clientY: 0,
            a: 0,
            b: 0,
            quantity: 1,
            up: 0,
            show: false,
        },
        methods: {
            // animate(){
            //     this.show = true;

            // },
            countUp(e, v) {

                // console.log(e.target)
                if (this.up <10) {
                this.up++
                this.count += parseInt(v);}
            },
            countDown(e, v) {
                if (this.up > 0) {
                    this.up--
                    this.count -= parseInt(v);
                }
            },
            resetCount() {
                this.count = 0
                this.up = 0
            },

            mouse(k) {
                this.clientX = k.clientX;
                this.clientY = k.clientY

            },
            submit(e) {
                console.log(e)
            }
        },
        computed: {

            addA() {
                console.log('a ne')
                return this.a

            },
            addB() {
                console.log('b ne')
                return this.b

            }
        }

    })
</script>

</html>